[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pytest = "*"
alembic = "*"
sqlalchemy = "*"
flask-migrate = "*"
dependency-injector = "*"

[requires]
python_version = "3.8"
